@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&family=Inter:wght@200;300;400;600&display=swap');

$white: #FFF;
$black: #333;

@mixin interFont {
    font-family: "Inter", sans-serif;
}

@mixin FellDouble {
    font-family: 'IM Fell Double Pica', serif;
}

@mixin FontWeightLight {
    font-weight: 200;
}

.index_header {
    // This makes the show page in a column
    display: flex;
    flex-direction: column;
    
    // puts stuff in the center vertically
    justify-content: center;

    // includes the font family - Inter
    @include interFont();

    // changes the font color to our white variable
    color: $white;
    height: 70%;
    
    // This makes the place.image a background image and allows to be changed based on the ID
    .place-image {
        height: 100%;
        width: 100%;

        // Changes the image to fill the page
        object-fit: cover;

        // takes it out of inline and doesnt effect the rest of the document flow
        position: absolute;

        // moves the image to the top
        top: 0;

        // changes the z position to -1 so that way everything else is above it, making it an actual background image
        z-index: -1;

        // relativily new but it changes the image brightness to half of what it originally is
        filter: brightness(50%);
        -webkit-filter: brightness(50%);
    }


    .information 
    {
        margin: 0 2rem;

        a {
            color: $white;
            text-decoration: none;
            
            h1 {
                font-size: 2rem;
                font-weight: 800;
            }
        }
    
        h3 {
            @include FontWeightLight;
            font-size: 1.5rem;
        }

        h4 {
            @include FontWeightLight;
            font-size: 1rem;
            padding: 0 0 20px 0;
        }
    }
}

.form-changes {
    margin: 2rem;

    form {
        display: flex;
        width: 60%;
        flex-wrap: wrap;

        input {
            padding: 3px;
            border-radius: 50px;
            margin: 5px;
            border: none;
        }

        button {
            border-radius: 50px;
            border: none;
            padding: 5px;
            margin: 5px;
            
            background-color: #2194FE;
            color: white;
        }

        button:hover {
            background-color: #333;
            color: $white;
            cursor: pointer;
        }
        
    }
}

@media (min-width: 45em){
 
    .information 
    {
        a {
            
            h1 {
                font-size: 6rem !important;
            }
        }
    
        h3 {
            font-size: 3rem !important;
        }

        h4 {
            font-size: 1.5rem !important;
        }
    }
    
}

