@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&family=Inter:wght@300;400;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0; 
}

img, picture, svg, video {
    display: block; 
    max-width: 100%;
}

body {
    min-height: 100vh;
    background-color: rgba($color: #131313, $alpha: .8);
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperset.com%2Fw%2Ffull%2F5%2Ff%2Fa%2F66099.jpg&f=1&nofb=1&ipt=821d16f5ccd6478cf9e246d91a89d89d436cf26f24e3057dcf68f76a81f72df6&ipo=images");
}

/////////////////
/// VARIABLES ///
/////////////////

// COLORS
$white: #FFF;
$black: #333;

@mixin interFont {
    font-family: "Inter", sans-serif;
}

@mixin FellDouble {
    font-family: 'IM Fell Double Pica', serif;
}

.header {
    background-color: rgba($color: #131313, $alpha: .8);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cName {
        @include FellDouble();
        font-size: 2rem;
        color: $white;
        padding: 10px;
    }

    .navBar {
        display: flex;
        flex-direction: row;
        padding: 10px;

        p{
            padding: 5px;
            color: $white;
        }

        button {
            z-index: 10;
            cursor: pointer;
            width: 30px;
        }

        .menuNav {
            overflow-y: scroll;
            list-style: none;
            position: fixed;
            top: 61px;
            background: $white;
            right: 0;
            bottom: 0;
            height: 100vh;
            width: 0;
            overflow: hidden;
            max-width: 290px;
            z-index: 9;

            transition: 1s ease-in-out;
        }
        
        .showMenu {
            width: 100%;
        }

        a {
            display: block;
            padding: 10px 40px;
            text-decoration: none;
            color: #3fffd2;
            text-transform: uppercase;
            font-weight: bold;
        }

        li:first-child {
            margin-top: 7rem;
        }
    }
}


.footerContainer {
    background-color: $black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    
    .teamContainer{
        padding: 10px 30px;
    }

    .social {
        display: flex;
    }
}