@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&family=Inter:wght@200;300;400;600&display=swap');

/////////////////
/// VARIABLES ///
/////////////////

// VARIABLE COLORS
$white: #FFF;
$black: #333;


*, *::before, *::after {
    // instead of needing to do math everytime you add sizing, border-box, just includes the padding and border in an elemnet's total width and height
    box-sizing: border-box;
}
  
* {
    // makes everything 0 so that way it makes it easier to add padding properly.
    padding: 0;
    margin: 0; 
}

img, picture, svg, video {
    display: block; 
    max-width: 100%;
}

body {
    position: relative;
    min-height: 100vh;
    color: white;
    z-index: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.index-h1, .add {
    padding: 20px;
}

#index-h1 {
    font-size: 2rem;
}

.container h1 {
    font-size: 1rem;
}

.index-background {
    // takes it out of inline and doesnt effect the rest of the document flow
    position: absolute;

     // moves the image to the top
    top: 0;

    // changes the z position to -1 so that way everything else is above it, making it an actual background image
    z-index: -1;

    // makes the background image 100% so it's full page
    width: 100%;
    height: 100%;

    // Changes the image to fill the page
    object-fit: cover;

    // relativily new but it changes the image brightness to half of what it originally is
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

.App {
    // for z-index to work you need to have some type of positioning, so adding position relative doesnt change much but allows us to use z-index
    position: relative;

    // vh is view height. so we are using 100% of the view height
    height: 100vh;
    z-index: 2;
    background-color: rgba($color: $black, $alpha: .7);

    input {
        padding: 3px;
        border-radius: 50px;
        margin: 5px;
        border: none;
    }

    input[type=submit]{
        background-color: #2194FE;
        color: white;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
            background-color: #333;
            color: $white;
        }
    }
}


@mixin interFont {
    font-family: "Inter", sans-serif;
}

@mixin FellDouble {
    font-family: 'IM Fell Double Pica', serif;
}

@mixin box-shadow {
    box-shadow:
        2.8px 2.8px 1.3px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 3.1px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 5.9px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 10.5px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 19.6px rgba(0, 0, 0, 0.05),
        100px 100px 47px rgba(0, 0, 0, 0.07)
    ;
}

.header {
    background-color: rgba($color: #131313, $alpha: .8);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cName {
        @include FellDouble();
        font-size: 2.2rem;
        color: $white;
        margin: 10px;
    }

    .navBar {
        display: flex;
        flex-direction: row;
        padding: 10px;

        p{
            padding: 5px 0;
        }

        .toggle-button {
            z-index: 10;
            cursor: pointer;
            width: 30px;
            padding: 10px 20px;
            margin: 0 10px;
            display: flex;    
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            border: none;

            &:hover {
                background-color: #2194FE;
            }
        }

        ///////////////////////////
        /// Place list Menu Bar ///
        ///////////////////////////
        .menuNav {
            overflow-y: scroll;
            list-style: none;

            // fixed keeps it in the position regardless of scrolling
            position: fixed;
            top: 6rem;
            background: $white;
            right: 0;
            bottom: 0;
            height: 72vh;
            width: 0;

            // max width means it's the max the width something will get
            max-width: 400px;

            // pushes the menu to the top z position allowing it to be in the most front
            // the higher the z-index the more front something is
            z-index: 9;
            border-radius: 10px 0 0 10px;

            // makes the slide out not instant and makes it smooth and nice looking
            transition: 1s ease-in-out;
            
        }
        
        .showMenu {
            width: 100%;
            @include box-shadow();
        }

        & > p {
            color: $white
        }

        a {
            @include interFont();
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            text-decoration: none;
            color: $black;

            // transforms the text to all uppercase so we dont need to do it manually
            text-transform: uppercase;
            font-weight: bold;
        }

        li:first-child {
            margin-top: 7rem;
        }

        ///////////////////////
        /// Create Menu Bar ///
        ///////////////////////
        
        .createNav {
            overflow-y: scroll;
            list-style: none;
            position: fixed;
            top: 6rem;
            background: $white;
            right: 0;
            bottom: 0;
            height: 120px;
            width: 0;
            max-width: 600px;
            z-index: 9;
            border-radius: 10px 0 0 10px;

            transition: 1s ease-in-out;
        }

        .showCreateMenu {
            width: 100%;
            @include box-shadow();
        }

        .create-place {
            margin: 1rem;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            
            input {
                border: none;
                background: #D9D9D9;
                border-radius: 50px;
                padding: 5px;
            }
            input[type="submit"]{
                cursor: pointer;
                padding: 5px 10px;

                &:hover {
                    color: white;
                    background-color: $black;
                }
            }
        }

    }
}


//////////////////
///   FOOTER   ///
//////////////////

.footerContainer {
    background-color: $black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    
    .teamContainer{
        padding: 10px 30px;
    }

    .social {
        display: flex;
    }
}


//////////////////
///  NAV MENU  ///
//////////////////

#place {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    margin: 10px;
    padding: 2px;
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 3px 4px 7px 0 rgba($color: $black, $alpha: .25);
    border: 1px solid #CFCFCF;

    .placeMarker {
        width: 20px;
        object-fit: contain;
        margin: 0 15px;
    } 

    .places-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .pen {
            background: url("../components/img/pen.png") no-repeat;
            border: none;
            display: flex;
            margin: 0 auto;
            width: 18px;
            height: 19px;
        
            &:hover {
                background: url("../components/img/pen-green.png") no-repeat;
            } 
        }
        
        .trashCan {
            background: url("../components/img/trashcan.png") no-repeat;
            border: none;
            display: flex;
            margin: 0 10px;
            width: 16px;
            height: 18px;
        
            &:hover {
                background: url("../components/img/Trashcan-red.png") no-repeat;
                position: relative;
            }
        }
      
    }    
}

